<a href="https://colab.research.google.com/github/maji2699/Sunny/blob/main/Python_Chapter2%263_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##################################################################################################

In [ ]:
##1.Write a script that calculates the squares and cubes of the numbers from 1 to 5.
#Print the resulting values in a table format.  Use the tab escape sequence to achieve the output

In [133]:
print('Number\tSqaure\tCube')

Number	Sqaure	Cube

In [135]:
print('Number\tSqaure\tCube')  #'the resulting values are in a table format. so put the print with the t-tab:horizontal line.

for number in range (1, 6):
  square = number ** 2        #square  ^2
  cube = number ** 3          #cube **exponential 3
  print(f"{number}\t{square}\t{cube}")            #f string!!!

Number	Sqaure	Cube
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125

In [139]:
print('Number\tSqaure\tCube')  #'the resulting values are in a table format. so put the print with the t-tab:horizontal line.

for number in range (1, 6):
  square = number ** 2        #square  ^2
  cube = number ** 3          #cube **exponential 3
  print(f"{number}{square}{cube}")  #if i dont usu the tab escape(\), its result looks like this(not 1 1 1)

Number	Sqaure	Cube
111
248
3927
41664
525125

In [ ]:
##############################################################################################################################

In [ ]:
#Question2: Write a script that inputs three integers from a user. Display the sum,average, product, smallest and greatest of the numbers.
#Be sure to label each output.

In [1]:
a = int(input('Write the first integer:'))

Write the first integer:2

In [2]:
b = int(input('Write the second integer:'))

Write the first integer:3

In [3]:
c = int(input('Write the third integer:'))

Write the third integer:4

In [8]:
total = a + b + c

In [11]:
sum = total
print(sum)

9

In [12]:
average = total/3
print(average)

3.0

In [13]:
product = a * b * c
print(product)

24

In [15]:
smallest = min(a,b,c)
print(smallest)

2

In [16]:
greatest = max(a,b,c)
print(greatest)

4

In [ ]:
##########################################################################################3

In [ ]:
############# Q3. Create a loop that finds the largest number of 10 numbers that the user enters.

In [32]:
numbers = [2,450,39,29,9,59,38,55,84,10]

In [29]:
largest = 0   ##just assign any number for the starting number for seeking the largest number. I gave 0 for the starting number.

In [30]:
for num in numbers:         #'For' looping: I put the random 10 numbers and assigned as 'numbers'
  if num > largest:         # using 'if', find the largest number
    largest = num

In [31]:
print("The large number is:", largest)

The large number is: 450

In [ ]:
###############################################################################################################################3

In [ ]:
##4. Write a script that inputs a purchase price of a dollar or less.
#    Assume the purchaser pays with a dollar bill.
#    Determine the amount of change the cashier should give back to them.
#    Display the change using the fewest amount of pennies, nickels, dimes, and quarters.

#For example, if the purchaser is due 73 cents, the output should be:
#Your change is:
#    2 quarters
#    2 dimes
#    3 pennies

In [112]:
change = int(input("How much cents did you receive?(a dollar is 100cents): "))

How much cents did you receive?(a dollar is 100cents): 73

In [113]:
quarters = 0
dimes = 0
pennies = 0

In [117]:
while change >= 25:
    quarters += 1
    change -= 25

while change >= 10:
    dimes += 1
    change -= 10

pennies = change

In [119]:
print("Your change is:")
if quarters > 0:
    print(quarters, "quarters")
if dimes > 0:
    print(dimes, "dimes")
if pennies > 0:
    print(pennies, "pennies")

Your change is:
2 quarters
2 dimes
3 pennies

In [94]:
while change >= 25:
    quarters += 1
    change -= 25
    if quarters > 0:
        print(quarters, "quarters")